:host {
  display: block;
}

.editor-wrapper {
  padding: 18px;
}

.footer-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 18px;
}

.switch-block {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
